/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-fox-pagetop-block {
	margin: 0;
	text-align: center;
	background-color: #fff;
	color: #111;
	padding: 100px 20px;
}
